ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*background-image: url("A.jpeg");*/
	background-color: black;
	overflow: hidden;
	/*position: fixed;*/
}
.HOR
{
	float: left;
	opacity: 0.5;
}
.HORE
{
	float: right;
	opacity: 0.5;
}
li a
{
	display:block;
	color: white;
	font-size: 40px;
	text-align: center;
	padding: 30px 34px;
	text-decoration: none;
}
li a:hover
{
	background-color: #1e90ff;
}
#logo
{
height: 50px; 
width: 100px;
}

body
{
  background-image: url("criss-cross.jpg");
}
.VER
{
	width: 200px;
}
.slider-img
{
	float: center;
	opacity: 0.3;
}
table
{
	border: 3px blue solid;
	background-image: url("A.jpeg");
	box-shadow: 6px 6px 6px black;
	
}