h1
{
	color: red;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;
	/*position: fixed;*/
}
.HOR
{
	float: left;
}
li a
{
	display:block;
	color: white;
	font-size: 40px;
	text-align: center;
	padding: 30px 34px;
	text-decoration: none;
}
li a:hover
{
	background-color: #1e90ff;
}
#logo
{
height: 50px; 
width: 100px;
}

body
{
  background-image: url("criss-cross.jpg");
}
.VER
{
	width: 200px;
}
